*,
* ::after,
* ::before {
  box-sizing: border-box;
}

:root {
  --dark-Blue: hsl(233, 26%, 24%);
  --lime-Green: hsl(136, 65%, 51%);
  --bright-Cyan: hsl(192, 70%, 51%);
  --grayish-Blue: hsl(233, 8%, 62%);
  --light-Grayish-Blue: hsl(220, 16%, 96%);
  --very-Light-Gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font-size: 18px;
  --font-Family: "Public Sans", sans-serif;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  width: 100vw;
  font-family: var(--font-Family);
  font-size: var(--font-size);
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  margin: 20px;
  align-items: center;
}

.hamburger {
  background-color: var(--white);
  border: none;
}

.menu {
  display: none;
}

.navigation-bar .request-button {
  display: none;
}

.humburger {
  display: block;
}

.navBar .requestBtn {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  background-image: url("images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top right;
}

.backImage {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 130px;
  margin-bottom: -50px;
  object-fit: cover;
}

.introduction .introduction-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  margin: 25px;
}

.introduction-info h1 {
  color: var(--dark-Blue);
  font-size: 2.5rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.introduction-info p {
  color: var(--grayish-Blue);
  text-align: center;
  margin: 25px;
  line-height: 25px;
}

.introduction .request-button,
.footer .request-button {
  align-self: center;
  font-size: 15px;
  color: var(--white);
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    var(--lime-Green),
    var(--bright-Cyan)
  );
  margin-bottom: 50px;
  padding: 15px;
  width: 175px;
  border-style: none;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-Grayish-Blue);
  padding: 25px;
}

.feature-intro h2 {
  color: var(--dark-Blue);
  font-size: 2rem;
  text-align: center;
  padding-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.features h3 {
  color: var(--dark-Blue);
  font-size: 1.5rem;
  text-align: center;
}

.features p {
  color: var(--grayish-Blue);
  text-align: center;
  margin-top: 20px;
  line-height: 25px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature img {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.feature:nth-last-child(1) > p {
  padding-bottom: 50px;
}

.articles {
  padding: 30px;
  background-color: var(--very-Light-Gray);
  font-family: var(--font-Family);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articles h2 {
  font-size: 35px;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 50px;
  color: var(--dark-Blue);
}

.article {
  flex-direction: column;
  margin-bottom: 50px;
}

.article .card {
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
.card .card-img img {
  width: 100%;
  margin-bottom: 25px;
}
.card-body {
  margin: 20px;
}

.card-body span {
  color: var(--grayish-Blue);
  font-size: 0.75rem;
}

.card-body h3 {
  font-size: 1.25rem;
  margin: 10px 0;
  color: var(--dark-Blue);
}

.card-body p {
  font-size: 15px;
  margin: 10px 0;
  line-height: 20px;
  color: var(--grayish-Blue);
}

.footer {
  width: 100vw;
  display: flex;
  background-color: var(--dark-Blue);
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footer > img {
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.footer-menu li {
  padding: 10px;
}
.footer-menu li a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--font-Family);
}
.footer h2 {
  color: var(--very-Light-Gray);
}
.footer .request-button {
  margin-bottom: 20px;
}

@media (min-width: 1280px) {
  .navigation-bar {
    justify-content: space-around;
    margin: 10px;
  }
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu li a {
    text-decoration: none;
    margin-left: 30px;
    color: var(--grayish-Blue);
    font-size: 0.9rem;
  }

  .navigation-bar .request-button {
    display: inline;
    align-self: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--white);
    border-radius: 50px;
    background-image: linear-gradient(
      to right,
      var(--lime-Green),
      var(--bright-Cyan)
    );
    padding: 10px;
    width: 150px;
    border-style: none;
  }

  .main {
    background-image: none;
  }

  .introduction {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 600px -250px;
    background-color: var(--very-Light-Gray);
  }

  .backImage {
    max-width: 50%;
    position: relative;
    bottom: 130px;
    margin-bottom: -50px;
    margin-right: -200px;
  }

  .introduction .introduction-info {
    margin-left: 100px;
    margin-right: 250px;
    background-color: var(--very-Light-Gray);
    align-items: flex-start;
  }

  .introduction .introduction-info h1 {
    text-align: left;
    margin-left: 0;
  }

  .introduction .introduction-info p {
    text-align: left;
    margin-left: 0px;
  }

  .introduction-info .request-button {
    align-self: flex-start;
  }

  .features {
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--light-Grayish-Blue);
  }

  .feature-intro {
    text-align: left;
    margin-left: 100px;
    margin-bottom: 75px;
  }

  .feature-intro h2 {
    text-align: left;
    margin-left: 0px;
  }

  .feature-intro p {
    text-align: left;
    margin-right: 550px;
    font-size: 1rem;
  }

  .feature-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 100px;
    margin-right: 100px;
  }

  .feature {
    margin-right: 30px;
  }
  .feature img,
  .feature h3,
  .feature p {
    align-self: flex-start;
    text-align: left;
  }

  .feature p {
    font-size: 1rem;
  }

  .articles {
    width: 100vw;
  }

  .articles h2 {
    align-self: flex-start;
    margin-left: 100px;
  }

  .article {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
  }

  .article .card {
    margin-right: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 30vh;
    padding-left: 100px;
  }
  .social-media {
    display: flex;
    width: auto;
  }

  .social-media a {
    margin-right: 20px;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 25vh;
    align-items: flex-start;
  }

  .footer-menu li {
    margin-right: 25px;
  }

  .footer h2 {
    align-self: center;
    font-size: 0.8rem;
    color: var(--very-Light-Gray);
  }
}
